<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1 id="welcome-h1">Welcome <%= user ? user.profile.name : "" %></h1>
  

  <div id="welcome-message">
    <p>
      Share where people should visit in the city of your choice. From places to eat or spots with scenic views. Let us know! Login with google to view posts or post your recomendations.
    </p>
  </div>

  <div id="landing-img">
    <img src="/assets/nico-smit-8Rk1DqL_Lkc-unsplash.jpg">
    <img src="/assets/lawrence-hookham-qz6NnG0Bp3Y-unsplash.jpg">
    <img src="/assets/juan-martin-lopez-hn7uBmjiCFw-unsplash.jpg">
    <img src="/assets/illiyeen-j0EhQw3hNew-unsplash.jpg">
    <img src="/assets/colin-lloyd-UoXR1Avp3t8-unsplash.jpg">
    <img src="/assets/clay-banks-1KPfcPdbWFM-unsplash.jpg">
  </div>

</main>

<%- include('./partials/footer') %>
