<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1 id="welcome-h1">Welcome, <%= user ? user.profile.name : "traveler" %></h1>
  

  <div id="welcome-message">
    <p>
      Share your thoughts on where people should visit in the city of your choice. Resteruants? Desserts? Buidings? Parks? Where are the awesome views?
    </p>
  </div>

  <div id="landing-img">
    <img src="/assets/alex-azabache-V83v-MYB_Z8-unsplash.jpg"> 

  </div>

</main>

<%- include('./partials/footer') %>
