<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>welcome, <%= user ? user.profile.name : "traveler" %></h1>
  

  <div id="welcome-message">
    <p>
      Share your thoughts on where people should visit in the city of your choice. What are your go to places? Where would you go?
    </p>
  </div>

  

</main>

<%- include('./partials/footer') %>
