<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <% if (user) { %>
    <form id="new-form" action="/posts" method="post">

      <div class="mb-3">
        <label for="city-input" class="form-label">City</label>
        <input type="text" name="city" class="form-control" id="city-input" placeholder="location">
      </div>
      <div class="mb-3">
        <label for="content-input" class="form-label">Description</label>
        <textarea name="content" class="form-control" id="content-input" rows="3" placeholder="What should users do here? When should they go?"></textarea>
      </div>
      
      <button type="submit" class="btn btn-light">Post</button>
    </form>
  <% } %>

<%- include("../partials/footer") %>